:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
    --ff-poppins: 'Poppins', sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;
    --fw-regular: 400;
    --fw-bold: 600;
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul,
ol{
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button{
  font: inherit;
}

/* TYPOGRAPHY */

body{
    display: grid;
    place-content: center;
    color: var(--white);
    font-family: var(--ff-poppins);
    font-size: 100%;
    text-align: center;
}

.wrapper{
  max-width: 375px;
  margin-inline: auto;
  padding: 2em 0.5em;
  background-color: var(--violet);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

.logo{
  width: 165px;
}

header,
.card__image,
.btn{
    margin-bottom: 4rem;
}

article{
  max-width: 350px;
  margin-inline: auto;
}

.card__title,
.card__content{
    margin-bottom: 1.5rem;
}

.card__content{
    font-family: var(--ff-open-sans);
    opacity: 0.8;
}


.btn{
    display: inline-block;
    text-decoration: none;
    background-color: var(--white);
    padding: 1em 6em;
    border-radius: 45px;
    color: var(--violet);
    font-size: 0.8rem;
    box-shadow: 8px 8px 21px -2px rgba(66, 68, 90, 0.54);
}

.social-media{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
}

.social-media > *{
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:is(:hover, :focus){
  background-color: var(--soft-magenta);
  cursor: pointer;
  color: var(--white);
}

.social-media >*:is(:hover, :focus){
  border: 1px solid var(--soft-magenta);
  color: var(--soft-magenta);
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (min-width: 376px){
  .wrapper{
    max-width: 1000px;
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
  }
}

@media (min-width: 750px){
  body{
    padding: 2em;
  }
  .card__image,
  .btn{
    margin-bottom: 1rem;
  }
  .wrapper{
    max-height: 800px;
    padding: 2em 4em;
  }
  .card{
    display: flex;
    align-items: center;
    gap: 2em;
    text-align: left;
  }
  .social-media{
    justify-content:flex-end;
  }
}


